
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    overflow: hidden;
    background-color: #c5b79c;
    position: fixed;
    top: 0;
    width: 100%;
}


.content{
  
     background-color: rgb(255, 0, 0); 
     margin-top: 90px; /* Pour éviter que le contenu ne soit masqué par la barre de navigation */
    /* display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; */
    /* height: 100vh; */
 
}



.search_ajouter{
    /* background-color: chartreuse; */
    width: 100%;
}

.search_ajouter form{
    width:500px;
    background-color:#E5E5E5; 
    border-radius: 35px;
}
.search_ajouter form input{
 border: none;
 background-color:#E5E5E5;
 padding: 0; 
 margin: 3px;
}

p{
    margin: 0;
}

.list_contacts{
  
    background-color: aquamarine;
 
}
.list_contacts .card{
    background-color: blue;
    width: 30%;

}


.hr{
    width: 2px;
    background-color:#E5E5E5;
}

/*style de affichage de contact*/
/* .Achiche_contact{
    background-color: rgb(255, 5, 5);
    width: 30%; 

  
} */



/* .email,.telephone{
    display: flex;
    width: 100%;
    margin-top: 15px;
}
.email img,.telephone img{
   margin-right: 15px;
} */











#photo_personne{
    width: 60px;
  
}
/*with et height des icones*/
#icon_Ajoute,#icon_email,#icon_appel{
    width: 20px;
    height: 20px;
}
#icon_serch{
    width: 30px;
    height: 30px;
}
